@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;1,500&display=swap');



/*Genneral CSS*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.summary-outer-container {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 450px;
    background-color: white;
    border-radius: 20px;

}

h1 {
    text-align: center;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 16px;
}

p {
    
    text-align: center;
}

/*Image styling */
.image-container {
    border-radius: 2rem;
}

.main-image {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    border-radius: 1rem 1rem 0 0;

}


/*Main-content*/

.main-content-container {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    
}

/*Plan content container*/

.plan-container {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center; 
   

}

.plan-content-container {
    display: flex;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    height: 10vh;
    width: 20rem;

}

.plan-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    gap: 0;
}

.plan-price {
    padding-top: 5px;
}

.icon {
    cursor: default;
    padding-right: 1rem;
    padding-left: 1rem;
}


/*Payment and cancel order buttons*/

.btn {
    transition: all 300ms ease;
    padding: 1rem;
    width: 20rem;
    border-radius: 2rem;
    transition: all 0.3s;
}

.button-container-1,
.button-container-2 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2rem;
}

.btn-color-1 {
    color: white;
    background-color: hsl(245, 75%, 52%);
    border-style: none;
}

.btn-color-2 {
    border-style: none;
    background-color: hsl(225, 100%, 94%);


}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1:hover{
    transform:translateY(-10px);
    background-color:hsl(224, 36%, 48%) ;
    
}


.btn-color-2:hover{
    transform:translateY(-10px);
    background-color:hsl(245, 75%, 52%);
    color: white;
    
}